.App{
    border:  1px solid #3d3d3d;
    margin: 50px 30px ;
    padding: 25px 15px;

}

.to-do-container {
    display: flex;
    flex-direction: column;
}

.to-do-container ul li{
    overflow-wrap: break-word;
    list-style-type:"📜" ;
    cursor: pointer;
}

.check{
    text-decoration: line-through;
}